.container {
  padding: 35px;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.capitalize{
  text-transform: capitalize;
}

.borderSpacing{
  border-top: 1px solid black;
}

.borderSpacing--padding {
  border-top: 1px solid black;
  padding: 20px 0;
}

.spacing{
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

/*  */

.resultsBox {
  padding: 0px 35px 0px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

.movieBox {
  width: calc(100% / 4);
  text-align: center;
}

.movieImageWrapper {
  position: relative;
  max-width: 300px;
  max-height: 500px;
  transition: all 300ms ease;
}

/*  */

.movieImageWrapper:hover{
  cursor: pointer;
  overflow: hidden;
  transform: scale(1.05);
  transition: all 300ms ease;
}

.movieImageWrapper:hover .movieImageWrapper--img{
  opacity: 0.5;
}

.movieImageWrapper--img{
  height: 100%;
  width: 100%;
}

.movieImageWrapper--img{
  transition: all 300ms ease;
}

.movieImageWrapper:hover .hoverTip{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverTip{
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  display: none;
}

.noImg{
  height: 100%;
}

.movieBox--title{
  padding: 10px 0;
  font-size: 18px;
}

.movieBox--type{
  font-weight: bold;
  padding: 0 0 10px 0;
}

/* Skeleton Loading State */

.movieImageWrapper--img--skeleton{
  width: 100%;
  height: 400px;
  background-color: lightgray;
}

.movieImageWrapper--skeleton{
  max-width: 300px;
}

.movieBox--title--skeleton{
  margin: 10px 0;
  padding: 10px;
  width: 150px;
  background-color: gray;
}

.movieBox--type--skeleton{
  margin: 10px 0;
  padding: 10px;
  width: 180px;
  background-color: gray;
}

.movieBox--year--skeleton{
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  background-color: gray;
}

.movieBox--notFound{
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 65vh;
}

.movieBox--notFound h1{
  margin-top: 25px;
}

/* topx */

.leaveButton{
  cursor: pointer;
  font-size: 36px;
  color: white;
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.searchTop{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.searchBottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 50px 0;
}

.searchBottom--title{
  text-align: center;
}

.searchInputBox{
  position: relative;
  border-radius: 30px;
  max-width: 500px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto;
}

.searchInputBox--input{
  padding: 0 0 0 15px;
  font-size: 14px;
  width: 100%;
  height: 60px;
}

.searchInputBox--button{
  border: none;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 35px;
  background-color: transparent;
  cursor: pointer;
}

#filter{
  font-size: 12px;
  width: 185px;
  height: 36px;
  border: 2px solid black;
}

/*  */

@media (max-width: 768px){
  .movieBox {
    width: calc(100% / 3);
  }
  .searchBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0 30px 0;
  }
  .searchInputBox{
    max-width: 400px;
  }
  .resultsBox {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 600px){
  .movieBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .movieImageWrapper--skeleton{
    width: 100%;
  }
} 

@media (max-width: 480px){

} 