li{
    list-style-type: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-bottom: 1px solid black;
}

.page__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.page__listItem:hover{
    border-bottom: 2px solid white;
}

.notWorking{
    cursor: not-allowed;
}

.page__logo--h2{
    cursor: pointer;
}

.menuButton,
.menuButton--close{
    display: none;
}

.menuButton{
    position: absolute;
    right: 50px;
}

.menuButton--close{
    position: absolute;
    right: 50px;
}

.modalWrapper{
    border: 2px solid black;
    z-index: 3;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    height: 500px;
    gap: 35px;
}

.AuthModal--close{
    z-index: 2;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 36px;
    height:36px;
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
}

@media (max-width: 768px){
    .page__logo--h2{
        font-size: 22px;
    }
    .page__logo--p{
        font-size: 14px;
    }
}

@media (max-width: 650px){
    .page__list{
        display: none;
    }

    .menuButton{
        display: block;
        width: 36px;
        height:36px;
        font-size: 18px;
        color: white;
        background-color: transparent;
        border: none;
    }

    .menuButton--close{
        z-index: 2;
        display: block;
        width: 36px;
        height:36px;
        font-size: 18px;
        color: white;
        background-color: transparent;
        border: none;
    }
    .modalWrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
        width: 100%;
        height: 500px;
        gap: 35px;
    }

}

@media (max-width: 420px){
    .page__logo--h2{
        font-size: 20px;
    }
    .page__logo--p{
        font-size: 12px;
    }
}